body{
    font-family: Georgia;
}

a{
    font-style: italic;
    text-decoration: none;
}

img{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: auto;
  }


.full-text{
    width: 70%;
    word-wrap: normal;
    text-indent: 50px;
    text-align: justify;
    margin-top: 25px;
}