    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: snow;
    }

    footer {
      margin: 0 0 20Ñpx;
    }

    a {
      text-decoration: none;
      color: black;
    }

    ul {
      list-style: none;
      margin: auto;
      width: 50%;
    }

    li {
      margin-bottom: 16px;
      text-align: center;
      /*padding-left: 16px;*/
      background-color: whitesmoke;
      border: 2px solid lightgray;
      border-radius: 10px;

    }

    p {
      text-align: left;
      padding-left: 16px;
    }

    .main-page-logo>img {
      margin-top: -3px;
      float: left;
      width: 60px;
      height: 50px;
    }

    .main-page-logo>.home-button {
      text-shadow: 1px 1px 2px orangered, 0 0 0.5em orangered;
      margin-top: 10px;
      color: darkviolet;
      font-weight: bold;
      font-size: 20pt;
    }

    .motto-top {
      padding: 10px;
      background-color: whitesmoke;
      border: 2px solid lightgray;
      border-left: none;
      border-right: none;
      text-align: center;
      font-weight: normal;
      font-style: italic;
      font-size: 16px;
    }

    .motto-bottom {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }

    .quote {
      padding: 10px;
      background-color: whitesmoke;
      border: 2px solid lightgray;
      border-left: none;
      border-right: none;
      text-align: center;
      font-weight: normal;
      font-style: italic;
      font-size: 16px;
    }

    .quote:hover {
      /*transition: 0.25s all;
        font-weight: bolder;
        background-color: snow;*/
      transition: 0.25s all;
      text-shadow: 1px 1px 2px orangered, 0 0 0.5em orangered;
      color: darkviolet;
      font-weight: bolder;
      background-color: snow;
    }