body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ebebeb;
}

.todo-list {
    clear: both;
    width: 500px;
    background-color: white;
    padding: 8px 20px;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
}
.todo-list .todo-item {
    border: 2px solid rgb(176, 168, 168);
    background-color: white;
    padding: 8px 30px 8px 20px;
    margin: auto;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todo-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list .todo-item input[type="checkbox"] {
    display:none;
}

.todo-list .todo-item input[type="checkbox"] + label  {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    border: 2px solid rgb(184, 179, 179);
    position: relative;
}

.todo-list .todo-item input[type="checkbox"]:checked + label::after  {
    content:"";
    display: block;
    background: rgb(59, 142, 172);
    margin: 2px;
    position: absolute;
    width: 16px;
    height: 16px;
}    

.todo-list .todo-item input[type="checkbox"] + label,
.todo-list .todo-item input[type="checkbox"]:checked + label::after {
    border-radius: 50%;
} 


.todo-item.todo-item-important {
   border-left: 6px solid rgb(208, 111, 111);
}

.todo-item.todo-item-asap {
    border-left: 6px solid rgb(223, 223, 137);
}

.todo-item.todo-item-trash {
    border-left: 6px solid rgb(120, 205, 205);
}

.card {
    transition: ease-in-out;
    transition-duration: 10s;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    width: 500px;
    margin: 10px auto;

    padding: 20px 20px;
    background-color: white;    
    border-radius: 12px;
}
.card input, .card button, .card textarea {
    margin-top: 10px;
    border-radius: 5px;
    border: 0px solid #eee;
    background-color: #e7e7e7;
    padding: 8px 10px; 
    font-family: Helvetica, Arial, sans-serif;
}

.card button {
    background-color: rgb(6, 172, 87);
    color: white;
}

.card__close {
    text-align: right; 
    display:block;
    color:rgb(184, 179, 179);
    text-decoration: none;
}

