body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #373131;
}
h1 {
    color: rgb(188, 183, 183)
}
.todo-list {

    width: 500px;
    background-color: #373131;
    padding: 8px 20px;
    border-radius: 12px;
    margin: auto;
    margin-top: 60px;
}

.todo-list .todo-item {
    border: 2px solid rgb(176, 168, 168);
    background-color: rgb(106, 97, 97);
    padding: 8px 30px 8px 20px;
    margin: auto;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todo-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list .todo-item input[type="checkbox"] {
    display:none;
}

.todo-list .todo-item input[type="checkbox"] + label  {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    border: 2px solid rgb(184, 179, 179);
    position: relative;
}

.todo-list .todo-item input[type="checkbox"]:checked + label::after  {
    content:"";
    display: block;
    background: rgb(59, 142, 172);
    margin: 2px;
    position: absolute;
    width: 16px;
    height: 16px;
}    

.todo-list .todo-item input[type="checkbox"] + label,
.todo-list .todo-item input[type="checkbox"]:checked + label::after {
    border-radius: 50%;
} 


.todo-item.todo-item-important {
   border-left: 6px solid rgb(208, 111, 111);
}

.todo-item.todo-item-asap {
    border-left: 6px solid rgb(223, 223, 137);
}

.todo-item.todo-item-trash {
    border-left: 6px solid rgb(120, 205, 205);
}